---
layout: default
title: Books by Wendy
permalink: /books/
---

{% assign booksRomance = site.books | where: "genre", "Romance" %}
{% assign booksYAFantasy = site.books | where: "genre", "Young Adult Fantasy" %}
{% assign booksNAFantasy = site.books | where: "genre", "New Adult Fantasy" %}

<div class="page-content">

  <div class="container title">
    <h2 class="page-title">Books by Wendy</h2>
    <div class="divide"></div>
  </div>

  <div class="content-section">
    {% if booksRomance != empty %}
      <div class="section-heading">
        <h3 class="heading">Romance</h3>
      </div>
      <ul class="books-list">
        {% for book in booksRomance %}
          {% include book-item.html %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="content-section">
    {% if booksNaFantasy != empty %}
      <div class="section-heading">
        <h3 class="heading">New Adult Fantasy</h3>
      </div>
      <ul class="books-list">
        {% for book in booksNaFantasy %}
          {% include book-item.html %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="content-section ext-bottom">
    {% if booksYAFantasy != empty %}
      <div class="section-heading">
        <h3 class="heading">Young Adult Fantasy</h3>
      </div>
      <ul class="books-list">
        {% for book in booksYAFantasy %}
          {% include book-item.html %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>

</div>
