<div id="about-wendy" class="content-section">
	<div class="container">

	  <div class="section-heading">
	  	<h3 class="heading">About the Author</h3>
	  </div>
	  
	  <div class="row">
	  	<div class="col-md-12 col-lg-10 col-lg-offset-1">
  			<div class="box-content">
			    <img src="/img/wendy.jpg" class="author">

			    <div class="content">
			    	<h4 class="title">About Wendy</h4>
			      <p>Wendy Owens was born in the small college town, Oxford Ohio. After attending Miami University, Wendy went onto a career in the visual arts. After several years of creating and selling her own artwork she gave her first love, writing, a try. She has released the YA fantasy series, <a href="#">The Sacred Guardians</a>. She also has a NA Romance series, <a href="#">The Stubborn Love Series</a>.</p>

			      <p>When she’s not writing, this dog lover can be found spending time with her tech geek husband, their three amazing kids, and two pups. She loves to cook and is a film fanatic.</p>
			    </div>
			  </div>
	  	</div>
	  </div>

  </div>
</div>
