<div id="about-wendy" class="content-section">
	<div class="container">

	  <div class="section-heading">
	  	<h3 class="heading">About the Author</h3>
	  </div>
	  
	  <div itemscope itemtype="http://schema.org/Person" class="row">
	  	<div class="col-md-12 col-lg-10 col-lg-offset-1">
  			<div class="box-content">
			    <img src="{{ site.github.url }}/img/wendy.jpg" class="author">

			    <div class="content">
            <h4 class="title">About <span itemprop="name">Wendy Owens</span></h4>
			      <p itemprop="description">Wendy Owens was born in the small college town, Oxford Ohio. After attending Miami University, Wendy went onto a career in the visual arts. After several years of creating and selling her own artwork she gave her first love, writing, a try. She has released the YA fantasy series, <a href="#">The Sacred Guardians</a>. She also has a NA Romance series, <a href="#">The Stubborn Love Series</a>.</p>

			      <p>When she’s not writing, this dog lover can be found spending time with her tech geek husband, their three amazing kids, and two pups. She loves to cook and is a film fanatic.</p>
            <link itemprop="url" href="{{ site.github.url }}/about/">
            <a itemprop="sameAs" href="https://www.facebook.com/Wendy-L-Owens-191731754221996/"class="facebook social btn btn-default" ><i class="fa fa-facebook"></i> Facebook</a>
            <a itemprop="sameAs" href="https://www.twitter.com/WendyLOwens"class="twitter social btn btn-default" ><i class="fa fa-twitter"></i> Twitter</a>
            <a itemprop="sameAs" href="https://www.instagram.com/wendylowens/" target="_blank" class="instagram social btn btn-default"><i class="fa fa-instagram"></i> Instagram</a>
            <a itemprop="sameAs" href="https://www.amazon.com/Wendy-Owens/e/B006COBFKC" target="_blank" class="amazon social btn btn-default"><i class="fa fa-amazon"></i> Amazon</a>
			    </div>
			  </div>
	  	</div>
	  </div>

  </div>
</div>
