<li class="book">
  <div class="book-img">
    <div class="shim"></div>
    <img class="cover" src="{{ site.github.url }}/img/{{ book.cover-image }}">

    <!-- default hidden -->
    <div class="more-info">
      <a href="{{ site.github.url }}{{ book.permalink }}" class="more-link">More Info</a>
    </div>
  </div>

  <div class="book-info">
    <!-- {{series.permalink}} -->
    <span class="title test">{{ book.title }}</span>
    {% assign bookGroups = site.bookGroups | where: "title", book.series %}
    {% for group in bookGroups %}
      <span class="series"><a href="{{site.github.url}}{{group.url}}">{{ book.series }}</a></span>
    {% endfor %}
  </div>
</li>
