<footer id="say-hello" class="site-footer">

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="section-heading">
          <h3 class="heading">Say Hello</h3>
        </div>
        <p class="bigger">I love talking and interacting with my fans and fellow book lovers. Please don’t hesitate to follow, friend, and reach out!</p>

        <div class="social-buttons">
          <a href="https://twitter.com/WendyLOwens" target="_blank" class="twitter social btn btn-default"><i class="fa fa-twitter"></i> Twitter</a>
          <a href="https://www.facebook.com/Wendy-L-Owens-191731754221996/" target="_blank" class="facebook social btn btn-default"><i class="fa fa-facebook"></i> Facebook</a>
          <a href="http://www.goodreads.com/author/show/5038955.Wendy_Owens" target="_blank" class="goodreads social btn btn-default"><i class="fa fa-book"></i> Goodreads</a>
        </div>

        <img class="footer-logo" src="{{ site.github.url }}/img/wendy-logo-footer.png"></img>

        <span class="copyright">&copy; 2016 Wendy Owens. All Rights Reserved.</span>
      </div>
    </div>
  </div>

</footer>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5PC67V"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5PC67V');</script>
<!-- End Google Tag Manager -->

    <!-- Hotjar Tracking Code for http://wendyowensbooks.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:318372,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
