<header class="site-header">

  <a class="header-logo" href="/"><img src="{{ site.github.url }}/img/wo-logo-light.png"></a>

  <nav class="site-nav hidden-xs hidden-sm">
    <a class="page-link" href="{{ site.github.url }}/books/">Books</a>
    <a class="page-link" href="{{ site.github.url }}/about/">About the Author</a>
    <a class="page-link" href="{{ site.github.url }}/blog/">Blog</a>
    <a data-scroll class="page-link" href="#newsletter">Stay Updated</a>
    <a data-scroll class="page-link" href="#say-hello">Say Hello</a>
  </nav>

  <div id="site-menu" class="visible-xs-block visible-sm-block">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <div id="expanded-menu">
    <ul class="nav">
      <a class="page-link" href={{ site.github.url }}"/books/"><li>Books</li></a>
      <a data-scroll class="page-link" href="{{ site.github.url }}/about/"><li>About the Author</li></a>
      <a data-scroll class="page-link" href="#newsletter"><li>Stay Updated</li></a>
      <a data-scroll class="page-link" href="#say-hello"><li>Say Hello</li></a>
    </ul>
  </div>

</header>
