<div class="landing-hero">
	<div class="screen">
		<header class="site-header landing">

			<a class="header-logo light"><img src="{{ site.github.url }}/img/wo-logo-light.png"></a>
			
			<nav class="site-nav landing hidden-xs hidden-sm">
	      <a class="page-link" href="{{ site.github.url }}/books/">Books</a>
	      <a data-scroll class="page-link" href="#about-wendy">About the Author</a>
	      <a data-scroll class="page-link" href="#newsletter">Stay Updated</a>
	      <a data-scroll class="page-link" href="#say-hello">Say Hello</a>
			</nav>

			<div id="site-menu" class="visible-xs-block visible-sm-block">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>

			<div id="expanded-menu">
		    <ul class="nav">
		      <a class="page-link" href="{{ site.github.url }}/books/"><li>Books</li></a>
	      	<a data-scroll class="page-link" href="#about-wendy"><li>About the Author</li></a>
	      	<a data-scroll class="page-link" href="#newsletter"><li>Stay Updated</li></a>
	      	<a data-scroll class="page-link" href="#say-hello"><li>Say Hello</li></a>
		    </ul>
		  </div>

		</header>

		<div class="container site-title">
			<div class="row">
				<div class="col-xs-12 col-sm-9 col-md-7 col-lg-7">
					<h1 class="title">Stubborn Love tagline will go here lorem ipsum dolor sit amet draco dorm.</h1>
				</div>
			</div>

			<div class="slide-indicators">
				<div class="indicator lit"></div>
				<div class="indicator"></div>
				<div class="indicator"></div>
			</div>
		</div>
		
		<!-- TODO: Change alt attributes to what you want the h1 tag to be.
		     ref: /js/preload.js -->
		<img class="book-covers stubborn-love active" src="{{ site.github.url }}/img/stubborn-love-books-sm.png" alt="Stubborn Love tagline will go here lorem ipsum dolor sit amet draco dorm.">
		<img class="book-covers sacred-guardians" src="{{ site.github.url }}/img/sacred-guardians-books-sm.png" alt="Sacred guardians tagline will go here lorem ipsum dolor sit amet draco.">
		<img class="book-covers wash-me-away" src="{{ site.github.url }}/img/wash-me-away-books-sm.png" alt="He wanted to love me, all I wanted was to let the flood wash me away.">
	</div>
</div>