<div id="newsletter" class="newsletter">
	<div class="container">
		<!-- NEWSLETTER -->

		<div class="row">
			<div class="col-md-8 col-lg-7">
				<p class="bigger">Sign up for <strong>exclusive freebies</strong> and stay updated on the latest books and news. Don’t worry—there’s no spam, just awesome content for book lovers.</p>
			</div>
		</div>

		<!-- NEWSLETTER FORM -->
		<form class="form-horizontal" action="https://www.getdrip.com/forms/1513607/submissions" method="post" data-drip-embedded-form="1513607" name="mc-embedded-subscribe-form" class="validate">
			<div class="form-group">
				<div class="col-md-3 input">
					<label for="fields[first_name]">First Name</label>
					<input type="text" id="name" name="fields[first_name]" required placeholder="Name">
				</div>

				<div class="col-md-4 input">
          <label for="fields[email]">Email</label>
					<input type="email" id="newsletterEmailInput" required placeholder="Email Address" name="fields[email]">
				</div>

				<div class="col-md-3">
					<label for="tags[]">Send me a free...</label>
				  <select name="tags[]" class="form-control" id="genre">
				    <option value="romance">Romance Book</option>
				    <option value="yaparanormal">Young Adult Fantasy Book</option>
				    <option value="naparanormal">New Adult Fantasy Book</option>
				  </select>
				</div>

				<div class="col-md-2">
					<label class="submission">Submit Form</label>
					<button type="submit" class="btn btn-default btn-submit">Subscribe</button>
				</div>
			</div>
		</form>

		<!-- END -->
	</div>
</div>
