<div id="newsletter" class="newsletter">
	<div class="container">
		<!-- NEWSLETTER -->

		<div class="row">
			<div class="col-md-8 col-lg-7">
				<p class="bigger">Sign up for <strong>exclusive freebies</strong> and stay updated on the latest books and news. Don’t worry—there’s no spam, just awesome content for book lovers.</p>
			</div>
		</div>

		<!-- NEWSLETTER FORM -->
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-md-3 input">
					<label for="name">First Name</label>
					<input type="text" id="name" placeholder="Name">
				</div>

				<div class="col-md-4 input">
					<label for="email">Email</label>
					<input type="email" id="email" placeholder="Email Address">
				</div>

				<div class="col-md-3">
					<label for="genre">I like to read...</label>
				  <select class="form-control" id="genre">
				    <option>New Adult Books</option>
				    <option>Fantasy Books</option>
				    <option>Both</option>
				  </select>
				</div>

				<div class="col-md-2">
					<label class="submission">Submit Form</label>
					<button type="submit" class="btn btn-default btn-submit">Subscribe</button>
				</div>
			</div>
		</form>

		<!-- END -->
	</div>
</div>