<div id="newsletter" class="newsletter">
	<div class="container">
		<!-- NEWSLETTER -->

		<div class="row">
			<div class="col-md-8 col-lg-7">
				<p class="bigger">Sign up for <strong>exclusive freebies</strong> and stay updated on the latest books and news. Don’t worry—there’s no spam, just awesome content for book lovers.</p>
			</div>
		</div>

		<!-- NEWSLETTER FORM -->
		<form class="form-horizontal" action="//wendy-owens.us2.list-manage.com/subscribe/post?u=3ceac270e21b676868f5accae&amp;id=a2fef99b33" method="post" name="mc-embedded-subscribe-form" class="validate">
			<div class="form-group">
				<div class="col-md-3 input">
					<label for="name">First Name</label>
					<input type="text" id="name" required placeholder="Name">
				</div>

				<div class="col-md-4 input">
					<label for="email">Email</label>
					<input type="email" required placeholder="Email Address" name="EMAIL" id="mce-EMAIL">
				</div>

				<div class="col-md-3">
					<label for="genre">Send me a free...</label>
				  <select class="form-control" name="MMERGE3" id="genre">
				    <option value="romance">Romance Book</option>
				    <option value="yaparanormal">Young Adult Fantasy Book</option>
				    <option value="naparanormal">New Adult Fantasy Book</option>
				  </select>
				</div>

				<div class="col-md-2">
					<label class="submission">Submit Form</label>
					<button type="submit" class="btn btn-default btn-submit">Subscribe</button>
				</div>
			</div>
		</form>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='MMERGE1';ftypes[1]='radio';fnames[2]='MMERGE2';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

		<!-- END -->
	</div>
</div>
