<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Smooth Scroll -->
<script type="text/javascript" src="{{ site.github.url }}/js/smooth-scroll.min.js"></script>
<!-- Smooth Scroll -->
<script type="text/javascript" src="{{ site.github.url }}/js/jquery.cycle.min.js"></script>
<!-- Preload Images -->
<script type="text/javascript" src="{{ site.github.url }}/js/preload.js"></script>
<!-- Bootstrap JS -->
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
  integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
  crossorigin="anonymous"
></script>
<!-- Drip -->
<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {};
  _dcs.account = "5180774";

  (function () {
    var dc = document.createElement("script");
    dc.type = "text/javascript";
    dc.async = true;
    dc.src = "//tag.getdrip.com/5180774.js";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>

<script>
  const newsletterForm = document.getElementById("newsletterForm");
  const successSection = document.getElementById("successSection");
  const errorSection = document.getElementById("errorSection");

  newsletterForm.addEventListener("submit", async (e) => {
    e.preventDefault();
    const newsletterData = new FormData(newsletterForm);
    const API_KEY = "5fcf13de50dca03df8a263fd01f8cfaa-us19";
    const authorization = "Basic " + btoa("randomstring:" + API_KEY);

    $(".fd-success").siblings().hide();
    successSection.innerHTML = "<h3>Subscribing...</h3>";

    await fetch("/api/subscribe", {
      method: "POST",
      body: JSON.stringify({
        email_address: newsletterData.get("email"),
        firstName: newsletterData.get("firstName"),
        tags: newsletterData.get("tags[]"),
      }),
    }).then((res) => {
      if (!res.ok) {
        $(".fd-error").siblings().hide();
        errorSection.innerHTML = "<h3>Uh oh. Something went wrong...</h3>";
      } else {
        $(".fd-success").siblings().hide();
        successSection.innerHTML = "<h3>Thanks! Check your email for a confirmation</h3>";
      }
    });
  });
</script>
