<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Smooth Scroll -->
<script type="text/javascript" src="{{ site.github.url }}/js/smooth-scroll.min.js"></script>
<!-- Smooth Scroll -->
<script type="text/javascript" src="{{ site.github.url }}/js/jquery.cycle.min.js"></script>
<!-- Preload Images -->
<script type="text/javascript" src="{{ site.github.url }}/js/preload.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- Drip -->
<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {};
  _dcs.account = '5180774';

  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true;
    dc.src = '//tag.getdrip.com/5180774.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $('a.buyAmazon').on('click', function(event) {
      event.preventDefault();
      if ($(event.target).is('a')) {
        var target = $(event.target);
      } else {
        var target = $(event.target).parent();
      }
      var bookName = target.data('book');
      console.log(target);
      var tagBookName = bookName.replace(/\s/g, "");
      _dcq.push(['track', 'Clicked to Amazon', {book: bookName}])
      _dcq.push(['identify', {
        tags: ['clickedAmazon', 'clickedAmazon' + tagBookName, 'clicked' + tagBookName]
      }]);
      window.location.href = target.attr('href');
    });
  });
</script>
