<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      {{ content }}
    </div>

    {% include newsletter.html %}
    {% include footer.html %}
    {% include scripts.html %}
    {% if page.layout == "book" %}
      <script type="text/javascript">
        var target = $('a.buyAmazon');
        var bookName = target.data('book');
        console.log(target);
        var tagBookName = bookName.replace(/\s/g, "");
        _dcq.push(['track', 'Viewed a book', {book: bookName}])
        _dcq.push(['identify', {
          tags: ['visitedABook', 'visited' + tagBookName]
        }]);
      </script>
    {%endif%}
    <!-- Hotjar Tracking Code for http://wendyowensbooks.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:318372,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </body>

</html>
