---
layout: default
---
<div class="page-content">
  <div class="content-section">
    <div class="container">

      <div class="section-heading">
        <h2 class="blog-title">{{page.title}}</h2>

        <div class="post-meta">
          <i class="fa fa-calendar-o"></i>&nbsp;<span>{{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
          <div class="blog-post">
            <div class="content single-post">
              {{ content }}
              <div class="social-buttons" style="text-align:center;margin: 0 auto;">
                <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" target="_blank" class="twitter social btn btn-default"><i class="fa fa-twitter"></i> Twitter</a>
                <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" class="facebook social btn btn-default"><i class="fa fa-facebook"></i> Facebook</a>
                <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" class="google social btn btn-default"><i class="fa fa-google-plus"></i> Google Plus</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
