---
layout: default
---
<div class="page-content">
  <div class="content-section">
    <div class="container">

      <div class="section-heading">
        <h2 class="blog-title">{{page.title}}</h2>

        <div class="post-meta">
          <i class="fa fa-calendar-o"></i>&nbsp;<span>{{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
          <div class="blog-post">
            <div class="content">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
